@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/yusei8023/yusei8023.github.io/style/font.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body{
    font-family: tzy !important;
}